<img src="https://i.imgur.com/JsMvGnP.pngwidth" height="30">  
<p style="color: #2e6c80; text-align: center;"><strong>

# Transformando múltiplos csvs em um arquivo .db com pandas e sqlite3

A ideia deste notebook é mostrar como transformar vários arquivos .csv em uma única base de dados relacional.
**Importante:** para que o código abaixo funcione, é preciso que os arquivos .csv estajam na mesma pasta do seu arquivo .py ou .ipynb. Caso contrário, você precisará especificar o caminho completopara os arquivos csv. 
\
Os dados foram retirados da [Brazilian E-Commerce Public Dataset by Olist](https://www.kaggle.com/olistbr/brazilian-ecommerce)

In [1]:
import os
import sqlite3 as sq
import pandas as pd

Criando um lista com os nomes dos arquivos que estão na pasta.

In [2]:
csvs = os.listdir()
csvs

['.DS_Store',
 '.ipynb_checkpoints',
 'csv_to_db.ipynb',
 'olist_customers_dataset.csv',
 'olist_ecommerce.db',
 'olist_geolocation_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_products_dataset.csv',
 'product_category_name_translation.csv']

### Criando o arquivo ".db"

In [3]:
conn = sq.connect('olist_ecommerce.db')  
c = conn.cursor()

O exemplo abaixo mostra como adicionar individualmente um arquivo .csv ao arquivo .db criado com a biblioteca pandas.

In [4]:
# customers = pd.read_csv ('seu_data_set.csv')
# customers.to_sql('BASE_DE_DADOS', conn, if_exists='append', index = False)

Agora vamos gerar o loop que vai ler os nomes dos arquivos e, caso sua extensão seja .csv, será adicionado à base de dados utilizando o mesmo nome, apenas sem a extensão.

In [5]:
for i in csvs:
    if i.split('.')[-1] == 'csv':
            table = pd.read_csv(i)
            table.to_sql(i.split('.csv')[0], conn, if_exists='append', index = False)

Chamando os nomes das tabelas:

In [6]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
[i[0] for i in  c.fetchall()]

['olist_customers_dataset',
 'olist_geolocation_dataset',
 'olist_order_items_dataset',
 'olist_order_payments_dataset',
 'olist_order_reviews_dataset',
 'olist_orders_dataset',
 'olist_products_dataset',
 'product_category_name_translation']

Lendo uma das tabelas com o pandas:

In [7]:
pd.read_sql_query('select * from olist_customers_dataset WHERE customer_state = "SP"', conn)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
41741,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,13500,rio claro,SP
41742,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,7790,cajamar,SP
41743,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
41744,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
41745,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP